@font-face {
    font-family: roboto;
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
 }
 @font-face {
    font-family: roboto;
    src: url(./assets/fonts/roboto/Roboto-Light.ttf);
    font-weight: lighter;
 }
 @font-face {
    font-family: roboto;
    src: url(./assets/fonts/roboto/Roboto-Bold.ttf);
    font-weight: bold;
 }
 @font-face {
    font-family: roboto;
    src: url(./assets/fonts/roboto/Roboto-Italic.ttf);
    font-style: italic;
 }
 @font-face {
    font-family: lemon milk;
    src: url(./assets/fonts/lemon_milk/LEMONMILK-Regular.otf);
 }
 @font-face {
    font-family: lemon milk;
    src: url(./assets/fonts/lemon_milk/LEMONMILK-Light.otf);
    font-weight: lighter;
 }
 @font-face {
    font-family: lemon milk;
    src: url(./assets/fonts/lemon_milk/LEMONMILK-Bold.otf);
    font-weight: bold;
 }
 @font-face {
    font-family: lemon milk;
    src: url(./assets/fonts/lemon_milk/LEMONMILK-LightItalic.otf);
    font-style: italic;
 }

 body{
   margin: 0;
   font-family: roboto;
   font-weight: lighter;
}
div{
   font-family: roboto;
}
label{
   font-family: roboto;
}
a{
   font-family: roboto;
}
button{
   font-family: roboto;
}
nav{
   font-family: roboto;
}
.navbar-margin{
   margin-top: 70px;

   margin-left: 2em;
   margin-right: 2em;
}
.mrml0{
   margin-right: 0 !important;
   margin-left: 0 !important;
}
.row{
   margin-right: 0 !important;
   margin-left: 0 !important;
}
.color-white{
   color: white;
}
.botaoCustom-hover {
   width: 160px;
   font-size: 16px;
   font-weight: 600;
   color: #fff;
   cursor: pointer;
   margin: 20px;
   height: 55px;
   text-align:center;
   border: none;
   background-size: 300% 100%;
   border-radius: 50px;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}
.botaoCustom-hover:hover {
   background-position: 100% 0;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}
.botaoCustom-hover:focus {
   outline: none;
}
.botaoCustom-hover.botao {
   background-image: linear-gradient(
       to right,
       #29323c,
       #485563,
       #2b5876,
       #4e4376
   );
   box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.font-20{
   font-size: 20px;
}
.mrml-auto{
   margin-right: auto !important;
   margin-left: auto !important;
}
.text-justify{
   text-align: justify;
}