<div class="about">
    <div class="pt-70p">
        <div class="pt-70p">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pt-5 pb-5">
                <label class="home-title col-12 d-none">About Me</label>
                <label class="home-title col-12">Sobre</label>            
            </div>  
            <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 ps-5 pe-5 font-20 mrml-auto text-justify pb-5">
                <p>
                    Me chamo Thiago Urias Hirae e tenho 25 anos (SET/1996). Minha parte educacional na área da tecnologia começa muito cedo: aos 10 anos já gostava de desmontar/montar brinquedos e entender o funcionamento do mesmo. Sempre gostei muito de jogos, porém, o único computador disponível em casa não era tão potente e não tão capaz de rodar jogos e até mesmo armazenar suas instalações.
                </p>
                <p>
                    A partir dessa frustração comecei a procurar entender como é o funcionamento dos jogos e o motivo de não ter espaço suficiente para instalá-los. Sempre muito curioso,  tomei apenas a resposta genérica: Thiago, não existe espaço disponível em disco! Pensei, "oras, basta apenas eu apagar algumas coisas do computador que assim conseguirei liberar espaço e finalmente conseguirei jogar!", assim, apaguei grande parte dos arquivos raiz do Windows, e consequentemente, o computador não funcionou mais...  
                </p>
                <p>
                    Após broncas e broncas, agora com 14 anos de idade, fui matriculado no meu primeiro curso de computação em uma escola local chamada Sistema Novo de Ensino. Comecei com cursos básicos como: internet, Windows, Microsoft Word, Access, Excel e Power Point, totalizando 96h. Já nessa época estava cada vez mais curioso e interessado em aprender cada vez mais, ainda mais depois de abrir o computador de casa e corrigir um mal-contato na placa de rede que impedia a conexão do mesmo com a internet. 
                </p>
                <p>
                    Levava peças para o curso para perguntar mais sobre ela para o professor e entender melhor seu funcionamento, afinal, na época em questão estava apenas começando o acesso a internet em minha casa.
                </p>
                <p>
                    Após finalizar o curso inicial de computação, com 15 anos, já voltei a pressionar minha mãe para me inscrever em outro curso, desta vez algo mais prático. Assim, fomos a uma das unidades da Microlins procurar alguns cursos disponíveis. Escolhi o carro chefe do momento: montagem e manutenção de microcomputadores e redes. Este curso foi uma das minhas maiores motivações na área pois com ele fui capaz de realizar todas as manutenções caríssimas em meu primeiro computador, e também foi minha primeira -pequena- fonte de renda.
                </p>
                <p>
                    Em 2013 formei no ensino médio e estava decidido a cursar algo na área da tecnologia. No final do ano, logo após completar 17 anos, recebi a notícia de que havia sido aprovado no vestibular da UnB para cursar Computação, curso que recebeu e recebe até hoje a pontuação máxima do ENADE.
                </p>
                <p>
                    Neste mesmo fim de ano fui incentivado por minha mãe a realizar a inscrição no concurso da CAIXA Econômica Federal e fazer para apenas “treinar”, afinal, havia acabado de completar 17 anos, e por mais que já cumprisse um dos requisitos que era ter o ensino médio completo, ainda teria que esperar mais um ano para enfim completar os 18.
                </p>
                <p>
                    Logo nas minhas primeiras semanas de aula recebi a notícia: fui aprovado no concurso da CAIXA para o polo TI/Brasília concurso na qual só fui efetivado no ano de 2021 e que na qual continuo trabalhando. 
                </p>
                <p>
                    No ano de 2015 concluí meu curso avançado de inglês pela COOPLEM Idiomas e um ano depois fui contratado no meu primeiro estágio. Trabalhei durante quase dois anos na BASIS Tecnologia da Informação. Inicialmente utilizava um framework chamado Outsystems, que mais tarde foi descontinuado e comecei a realizar desenvolvimento front-end utilizando AngularJS. Também fui responsável por realizar testes de interface utilizando um framework chamado Protractor.
                </p>
                <p>
                    Meses antes de sair da BASIS, havia realizado uma prova para ser estagiário na Escola Superior do Ministério Público (ESMPU) e também realizado cadastro na lista de espera para estagiar no Senado Federal.  Em julho de 2018 fui convocado para ser estagiário na ESMPU, e lá, era responsável por qualquer atividade relacionada à tecnologia, desde instalação de programas até configuração de impressora. 
                </p>
                <p>
                    Após apenas dois meses trabalhando na ESMPU recebi um convite para realizar o processo seletivo para ser estagiário no Senado, e dentre os 20 participantes fui um dos 3 aprovados. Eu para desenvolvimento front-end dos produtos da Interlegis e dois para desenvolvimento back-end. 
                </p>
                <p>
                    Trabalhei completos dois anos no Senado e lá fui responsável por desenvolver: Portal CAPACITA, tema do moodle da escola modelo e do ILB (Instituto Legislativo Brasileiro), central de autenticação da Interlegis, portal da escola virtual do legislativo, painel de projetos da Interlegis, sistema de gerenciamento de informações do ILB, painel de informação da coordenação de tecnologia da informação e o portal educacional de conhecimento do Senado. 
                </p>
                <p>
                    Durante este período, realizei também estágio obrigatório pela UnB. Dei aula de computação básica para crianças de 9 a 10 anos de idade na Escola Classe 411 Norte, com o intuito de levar para elas o conhecimento e a instigação que eu gostaria que eu tivesse tido com 10 anos de idade. O foco era computação básica com abordagem nos seguintes tópicos: estímulo ao pensamento computacional, uso correto do mouse e teclado, saber como conectar e desconectar de forma segura e correta os cabos do computador, como realizar pesquisa em plataformas de busca, como editar documentos e textos, criar slides, desenvolver habilidades de digitação, melhorar a habilidade lógica e uso de tablets.
                </p>
                <p>
                    Em meio ao meu estágio, já vendo o final do vínculo com a UnB e sabendo que eu não poderia ser contratado pelo Senado, comecei a buscar oportunidades de emprego independente da área, pois estava focado em aprender coisas novas e contribuir com minha vontade de aprender e crescer na área. Me candidatei para trabalhar no Banco Central do Brasil, pela Stefanini, como analista de suporte júnior. Lá atuava pelo DEINF dando suporte a ferramenta Service Manager, da Micro Focus, onde fiquei até março de 2021.
                </p>
                <p>
                    Em março de 2021 recebi um telegrama com a convocação do concurso da CAIXA e que de imediato aceitei. Após análise curricular, fui designado para atuar na comunidade de programas sociais e realizar atividades híbridas entre desenvolvimento front-end e UX. Assim que entrei na CAIXA também formei na UnB e logo em seguida me inscrevi para realizar um MBA em Design Thinking, para me aprimorar e tornar referência nas atividades que estou desenvolvendo na comunidade.
                </p>
                <p>
                    Atualmente sou responsável por todo o desenvolvimento front-end do Portal Cidadão a partir dos protótipos realizados no Figma. As linguagens/framerowks/tecnolgias que utilizo atualmente são: Angular 11, Typescript, SCSS e Azure. 
                </p>
                <p>
                    Em março de 2022 concluí minha pós-graduação em Design Thinking pena faculdade Unyleya.
                </p>
            </div>
            <div class="pb-5 text-center">
                <a routerLink="/contact"><button class="botaoCustom-hover botao">Contato</button></a>
            </div>
        </div>
    </div>
</div>