<footer class="footer-thiago">
    <div class="row">
        <div class="col-7 footer-left-title-pt text-start text-end footer-left-title-pt">
            <label class="footer-title footer-cores-titulo ps-4">© 2022 Thiago Urias Hirae – All rights reserved</label>
        </div>
        <div class="col-5 footer-center-title-pt text-end footer-right-title-pt pe-4">
            <a href="https://www.linkedin.com/in/thiagourias/" target="_blank" class="footer-links ps-2 pe-2"><i class="fab fa-2x fa-linkedin footer-icon"></i></a>
            <a href="https://www.instagram.com/hirae.tech/" target="_blank" class="footer-links ps-2 pe-2"><i class="fab fa-2x fa-instagram footer-icon"></i></a>
            <a href="mailto:thiagourias_@hotmail.com" class="footer-links ps-2 pe-2"><i class="fas fa-2x fa-at footer-icon"></i></a>
        </div>
    </div>
</footer>
