.bg-contact{
    background-image: url(../../../assets/images/contact/contact-bg.jpg);
    width: 100%;
    height: 100%;
}
.contact-bg{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,8,28,1) 100%, rgba(1,3,32,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,8,28,1) 100%, rgba(1,3,32,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,8,28,1) 100%, rgba(1,3,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#010320",GradientType=1);
}
.contact-instagram{
    width:80%;
    border:0;
    overflow:hidden; 
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.home-title{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}