<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<div class="pt-5" style="color: white;">
    <div class="text-center contact-bg pt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 position-title pt-5">
           <h1 class="pt-5">Contato</h1>
           <h4>Você pode me contactar pelas redes sociais abaixo</h4>  
           
           <div id="linkedin">
            <div class="badge-base LI-profile-badge" data-locale="pt_BR" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="thiagourias" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://br.linkedin.com/in/thiagourias?trk=profile-badge">Thiago Urias Hirae</a></div>
              
              
           </div>
           <div class="" id="instagram">
               <!--
                <iframe src="//lightwidget.com/widgets/4d6c09dadbb958298480ec5af964cfaa.html" 
                    scrolling="no" 
                    allowtransparency="true" 
                    class="lightwidget-widget contact-instagram">
                </iframe>    
                -->      
           </div>
           teste
           testetes
        </div>    
    </div>
</div>
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
