<section id=timeline>
	<h1>A Flexbox Timeline</h1>
	<p class="leader">All cards must be the same height and width for space calculations on large screens.</p>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>2011</span>
				</div>
				<h2><span class="ano">Educacional</span> Sistema Novo</h2>
			</div>
			<div class="body">
				<p>Curso de: Microsoft Access, Excel, Power Point, Word, internet e windows no Sistema Novo de Ensino Profissional com duração de 96h.</p>
				<img src="../../../assets/images/timeline/timeline-certificado-novo.JPG" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>2012</span>
				</div>
				<h2><span class="ano">Educacional</span> Microlins</h2>
			</div>
			<div class="body">
				<p>Curso de montagem e matutenção de microcomputadores e redes abordando os módulos: Hardware-introdução, Hardware-sistemas operacionais, 
          Redes-introdução, Redes-Estruturação e redes com carga horária de 96h.</p>
				<img src="../../../assets/images/timeline/timeline-certificado-microlins.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>2014</span>
				</div>
				<h2><span class="ano">Educacional</span> Projeção</h2>
			</div>
			<div class="body">
				<p>Graduação do Ensino Médio realizado no Colégio Projeção, situado em Brasília/DF.</p>
				<img src="../../../assets/images/timeline/timeline-projecao.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span>2014</span>
				</div>
				<h2><span class="ano">Profissional</span>Téc. de Informática</h2>
			</div>
			<div class="body">
				<p>Comecei a prestar serviços de montagem, limpeza, configuração e formatação de computadores e notebooks. Serviço que presto esporadicamente até hoje.</p>
				<img src="../../../assets/images/timeline/timeline-hiraetech.JPG" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>2014</span>
				</div>
				<h2><span class="ano">Educacional</span> UnB</h2>
			</div>
			<div class="body">
				<p>Início do curso de ensino superior de Computação (Licenciatura) na UnB (Universidade de Brasília).</p>
				<img src="../../../assets/images/timeline/timeline-unb.jpg" alt="Graphic">
			</div>
		</div>
    
    <div class="demo-card demo-card--step6">
			<div class="head">
				<div class="number-box">
					<span>2014</span>
				</div>
				<h2><span class="ano">Profissional - Concurso</span>CAIXA</h2>
			</div>
			<div class="body">
				<p>Aprovado no concurso de 2014, realizado pelo CESPE, para a CAIXA Econômica Federal para atuação na área de TI. Concurso na qual 
          demoraram-se 7 anos para a convocação.</p>
				<img src="../../../assets/images/timeline/timeline-caixa.jpg" alt="Graphic">
			</div>
		</div>

    <div class="demo-card demo-card--step7">
			<div class="head">
				<div class="number-box">
					<span>2015</span>
				</div>
				<h2><span class="ano">Educacional</span>COOPLEM</h2>
			</div>
			<div class="body">
				<p>Conclusão do curso Avançado de Inglês (C.E.F.C1) com carga horária de 867 horas-aula.</p>
				<img src="../../../assets/images/timeline/timeline-cooplem.jpg" alt="Graphic">
			</div>
		</div>

    <div class="demo-card demo-card--step8">
			<div class="head">
				<div class="number-box">
					<span>2016/2018</span>
				</div>
				<h2><span class="ano">Profissional</span>BASIS</h2>
			</div>
			<div class="body">
				<p>Estagiário de desenvolvimento web na Basis Tecnologia da Informação, na qual tive experiências com:
          Outsystems, JavaScript, CSS, HTML, Protractor e AngularJS, documentação, análise de requisitos e criação de protótipo.</p>
				<img src="../../../assets/images/timeline/timeline-basis.JPG" alt="Graphic">
			</div>
		</div>


    <div class="demo-card demo-card--step9">
			<div class="head">
				<div class="number-box">
					<span>2018</span>
				</div>
				<h2><span class="ano">Profissional</span>ESMPU</h2>
			</div>
			<div class="body">
				<p>Após seleção pública, me tornei estagiário na ESMPU (Escola Superior no Ministério Publico da União) responsável por prestar suporte aos servidores públicos nas questões
          envolvendo tecnologia.
        </p>
				<img src="../../../assets/images/timeline/timeline-esmpu.png" alt="Graphic">
			</div>
		</div>

<!--
  
  Algumas das plataformas criadas foram: Portal CAPACITA, Tema do moodle da Escola Modelo e 
          do ILB (Instituto Legislativo Brasileiro), central de autenticação do interlegis, portal da Escola Virtual do Legislativo, painel de projetos do Interlegis, 
          sistema de gerenciamento de informação da ILB, painel da tecnologia da informação do time de coordenação, front page do portal de conhecimento do Senado.
-->
    
    <div class="demo-card demo-card--step10">
			<div class="head">
				<div class="number-box">
					<span>2018/2020</span>
				</div>
				<h2><span class="ano">Profissional</span>Senado</h2>
			</div>
			<div class="body">
				<p>Após seleção pública, me tornei estagiário no Senado Federal e atuava como desenvolvedor Front-end. Era responsável por criação de produtos
          tanto para o público externo quanto para o interno. 
        </p>
				<img src="../../../assets/images/timeline/timeline-senado.jpg" alt="Graphic">
			</div>
		</div>

    <div class="demo-card demo-card--step11">
			<div class="head">
				<div class="number-box">
					<span>2019</span>
				</div>
				<h2><span class="ano">Profissional</span>Escola 411 Norte</h2>
			</div>
			<div class="body">
				<p>
          Como estudante da Universidade de Brasilia, lecionei aulas de computação para crianças de 9 à 10 anos. O foco foi abordar tópicos básicos de 
          computação, como: introdução ao pensamento computacional, correto uso do mouse e teclado, como conectar e desconectar corretamente os cabos 
          do computador, aprender como realizar pesquisas em sites de busca, editar documentos e textos, criar apresentação de slides, maximizar as 
          habilidades de digitação, aumentar a habilidade lógica e uso de tablets. Todo o material que foi criado por mim, e meu parceiro Artur, é 
          público e pode ser utilizado para dar suporte a professores que desejam dar aulas de computação às crianças.</p>
          <button class="botaoCustom-hover botao">Acessar</button>
			</div>
		</div>

    <div class="demo-card demo-card--step12">
			<div class="head">
				<div class="number-box">
					<span>2019</span>
				</div>
				<h2><span class="ano">Educacional</span>Projeto de Exensão</h2>
			</div>
			<div class="body">
				<p>Participei do projeto de exensão UnB+Escola, com carga horária de 40h.</p>
				<img src="../../../assets/images/timeline/timeline-unbescola.jpg" alt="Graphic">
			</div>
		</div>

    <div class="demo-card demo-card--step13">
			<div class="head">
				<div class="number-box">
					<span>2020</span>
				</div>
				<h2><span class="ano">Profissional</span>Banco Central</h2>
			</div>
			<div class="body">
				<p>Atuava como Analista de Suporte do DEINF (Departamento de Informática) no Banco Central do Brasil, mais especificadamente no 
          time do software Micro Focus Service Manager      
        </p>
				<img src="../../../assets/images/timeline/timeline-bacen.jpg" alt="Graphic">
			</div>
		</div>

    <div class="demo-card demo-card--step14">
			<div class="head">
				<div class="number-box">
					<span>2021</span>
				</div>
				<h2><span class="ano">Educacional</span>UnB - Conclusão</h2>
			</div>
			<div class="body">
				<p>Conclusão do curso de ensino superior de Computação na Universidade de Brasília. TCC aprovado com SS (Nota 10) sobre o tema: Letramento digital do idoso segundo abordagem biopsicossocial.</p>
				<img src="../../../assets/images/timeline/timeline-unbformado.jpg" alt="Graphic">
			</div>
		</div>


    <div class="demo-card demo-card--step14">
			<div class="head">
				<div class="number-box">
					<span>2021</span>
				</div>
				<h2><span class="ano">Profissional</span>CAIXA - Concurso</h2>
			</div>
			<div class="body">
				<p>Ingresso ao serviço público. Atuando como desenvolvedor front-end na comunidade de programas sociais.</p>
				<img src="../../../assets/images/timeline/timeline-caixa-ingresso.jpg" alt="Graphic">
			</div>
		</div>

    <div class="demo-card demo-card--step15">
			<div class="head">
				<div class="number-box">
					<span>2021</span>
				</div>
				<h2><span class="ano">Educacional</span>Unyleya</h2>
			</div>
			<div class="body">
				<p>Início do MBA(Master of Business Administration) na faculdade Unyleya, com foco em Design Thinking.  </p>
				<img src="../../../assets/images/timeline/timeline-designthinking.png" alt="Graphic">
			</div>
		</div>


	</div>
</section>