<div>
    <div class="text-center bg-mar" id="home">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 position-title">
            <label class="home-title col-12 fadeIn-title">Thiago Urias Hirae</label>
            <label class="home-subtitle col-12 fadeIn-subtitle">Front-end Developer</label>
        </div>    
    </div>
    <div class="bg-about" id="about">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pt-305px">
            <label class="home-title col-12">About Me</label>
            <label class="home-text col-12">Thiago Urias Hirae, 25y, graduated computational science - Licentiate, at (UnB) Universidade de Brasília.</label>
            <label class="home-text col-12">Actualy working in CAIXA Econômica Federal as Técnico Bancário - TI.</label>
            <button class="botaoCustom-hover botao">More</button>
        </div>  
    </div>
    <div class="bg-contact" id="contact">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pt-305px">
            <label class="home-title col-12">Contact</label>
            <label class="home-text col-12">You can contact me sending a message on:</label>
            <div class="col-12 text-center pt-5">
                <a href="" class="ps-2 pe-2"><i class="fab fa-4x fa-linkedin footer-icon color-white"></i></a>
                <a href="" class="ps-2 pe-2"><i class="fab fa-4x fa-instagram footer-icon color-white"></i></a>
                <a href="" class="ps-2 pe-2"><i class="fas fa-4x fa-at footer-icon color-white"></i></a>
            </div>
        </div>  
    </div>
    <div class="bg-timeline pt-5 pb-5" id="timeline">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pt-5">
            <app-timeline></app-timeline>
        </div>  
    </div>
</div>
