<div>
    <div class="text-center bg-mar" id="home">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 position-title">
            <label class="home-title col-12 fadeIn-title">Thiago Urias Hirae</label>
            <label class="home-subtitle col-12 fadeIn-subtitle">Front-end Developer</label>
        </div>    
    </div>
    <div class="bg-about" id="about">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pt-305px">
            <label class="home-title col-12 d-none">About Me</label>
            <label class="home-title col-12">Sobre</label>
            <label class="home-text col-12">Thiago Urias Hirae, 25 anos, graduado em Computação (Licenciatura) pela UnB - Universidade de Brasília, pós-graduado em Design Thinking.</label>
            <label class="home-text col-12">Atualmente trabalho na CAIXA Econômica Federal como Técnico Bancário - TI.</label>
            <label class="home-text col-12 d-none">Thiago Urias Hirae, 25y, graduated computational science - Licentiate, at UnB - Universidade de Brasília and post gratuated on Design Thinking.</label>
            <label class="home-text col-12 d-none">Actualy working in CAIXA Econômica Federal as Técnico Bancário - TI.</label>
            <a routerLink="/about"><button class="botaoCustom-hover botao">Mais</button></a>
            <a routerLink="/about"><button class="botaoCustom-hover botao d-none">More</button></a>
        </div>  
    </div>
    <div class="bg-contact" id="contact">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pt-305px">
            <label class="home-title col-12">Contato</label>
            <label class="home-title col-12 d-none">Contact</label>
            <label class="home-text col-12">Você pode me enviar uma mensagem por:</label>
            <label class="home-text col-12 d-none">You can contact me sending a message on:</label>
            <div class="col-12 text-center pt-5">
                <a href="https://www.linkedin.com/in/thiagourias/" target="_blank" class="ps-2 pe-2"><i class="fab fa-4x fa-linkedin footer-icon color-white"></i></a>
                <a href="https://www.instagram.com/hirae.tech/" target="_blank" class="ps-2 pe-2"><i class="fab fa-4x fa-instagram footer-icon color-white"></i></a>
                <a href="mailto:thiagourias_@hotmail.com" class="ps-2 pe-2"><i class="fas fa-4x fa-at footer-icon color-white"></i></a>                
            </div>
            <button class="botaoCustom-hover botao">Mais</button>
            <button class="botaoCustom-hover botao d-none">More</button>
        </div>  
    </div>
    <div class="bg-timeline pt-5 pb-5" id="timeline">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pt-5">
            <app-timeline></app-timeline>
        </div>  
    </div>
</div>
