<nav class="navbar-thiago">
    <div class="row">
        <div class="col-3 navbar-left-title-pt text-start">
            <a routerLink="/"><label class="navbar-title navbar-cores-titulo ps-4">THG.</label></a>
        </div>
        <div class="col-6 navbar-center-title-pt text-center">
            <a href="#about" class="navbar-links ps-3 pe-3">Sobre</a>
            <a href="#about" class="navbar-links ps-3 pe-3 d-none">About Me</a>
            <a href="#contact" class="navbar-links ps-3 pe-3">Contato</a>
            <a href="#contact" class="navbar-links ps-3 pe-3 d-none">Contacts</a>
            <a href="#timeline" class="navbar-links ps-3 pe-3">Linha do Tempo</a>
            <a href="#timeline" class="navbar-links ps-3 pe-3 d-none">Timeline</a>
        </div>
        <div class="col-3 navbar-right-title-pt text-end pe-4">
            <a href="" class="navbar-links-lang ps-3 pe-3">PT-BR</a>
            <a href="" class="navbar-links-lang ps-3 pe-3">ENG</a>
        </div>
    </div>
</nav>
