<nav class="navbar-thiago">
    <div class="row">
        <div class="col-3 navbar-left-title-pt text-start">
            <label class="navbar-title navbar-cores-titulo ps-4">Thiago Urias Hirae</label>
        </div>
        <div class="col-6 navbar-center-title-pt text-center">
            <a href="" class="navbar-links ps-3 pe-3">About Me</a>
            <a href="" class="navbar-links ps-3 pe-3">Contacts</a>
        </div>
        <div class="col-3 navbar-right-title-pt text-end pe-4">
            <a href="" class="navbar-links-lang ps-3 pe-3">PT-BR</a>
            <a href="" class="navbar-links-lang ps-3 pe-3">ENG</a>
        </div>
    </div>
</nav>
